<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="appname" value="it.openly.core" />
	<property name="DEFAULT_PATTERN" value="%d{ISO8601}|${appname}|%thread|%X{session}|%X{user}|%-5level|%logger{60}|%X{methodname}|%X{elapsedtime}|%msg %n" />
	
	<include resource="config/${appname}/logback.xml" optional="true" />

 	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base:-/temp}/logs/${appname}-all.log</file>
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
	
</configuration>
